@import './reset.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import 'variables';
@import 'bootstrap';

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  color: $black;
  font-size: 14px;
}

* {
  color: inherit;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

.required::after {
  content: '*';
  color: $danger;
}