$primary: #0A0A0A;
$secondary: #003ACC;
$blue: #0048FF;
$success: #1EB725;
$info: #2897DB;
$warning: #F9A825;
$danger: #FF616D;
$white: #FFFFFF;
$black: #0A0A0A;

$variants01: #F8F9FE;
$variants02: #CBDAFF;
$variants03: #0048FF;
$variants04: #0041E6;
$variants05: #003ACC;

$gray01: #F8F9FA;
$gray02: #E9EBF8;
$gray03: #DEE0E1;
$gray04: #C6C7C8;
$gray05: #B9BBBC;
$gray06: #949596;
$gray07: #6F7070;
$gray08: #565758;