@import "styles/variables";

.wrapper {}
.headerBox {
  display: flex;
  width: 100%;
  height: 73px;
  box-shadow: 0 2px 4px 0 rgba(43,43,43,.1);

  .logoBox {
    flex: 0 0 250px;
    //background-color: $variants03;
    transition: all 250ms ease-out 0s;
  }

  .profileBox {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    //background-color: $variants01;
  }
}

.mainBox {
  display: flex;
  .navBox {
    background-color: $variants05;
    flex: 0 0 250px;
    transition: all 250ms ease-out 0s;
  }
  .contentBox {
    padding: 20px;
  }
}

// For Mobile viewport
@media screen and (max-width: 992px) {
  .headerBox {
    .profileBox {
      display: none;
    }
    .logoBox {
      flex: 1;
      transition: all 250ms ease-out 0s;
    }
  }
  .mainBox {
    .navBox {
      margin-left: -250px;
      transition: all 250ms ease-out 0s;
    }
  }
}

