@import '@/app/styles/variables';

.wrapper {
  span {
    color: $variants02;
  }
}

.opened {
  composes: wrapper;
  background-color: $variants03;
  border-left: 3px solid $warning;
}

.closed {
  composes: wrapper;
}

// For Mobile viewport
@media screen and (max-width: 992px) {

}