@import '@/app/styles/variables';

.common {
  background-color: $variants04;
  border-left: 3px solid $warning;
  padding: 12px 24px;
}

.opened {
  composes: common;
  color: $warning;
}

.closed {
  composes: common;
  color: $variants02;
}

// For Mobile viewport
@media screen and (max-width: 992px) {

}