.wrapper-box {
    background-color: #F8F9FA;
}

.header-box {
    position: fixed;
    top: 0;
    z-index: 1028;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    box-shadow: 0 2px 4px 0 rgba(43,43,43,.1);
    background-color: #FFFFFF;
}

.header-left-box {
    background-color: #003ACC;
    color: #FFFFFF;
    padding: 0 20px;
    position: relative;
    width: 250px;
    float: left;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-box {
    display: flex;
    align-items: center;
}
.header-logo-box img {
    margin-right: 4px;
    margin-top: -5px;
}

.header-right-box {
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    margin-bottom: 0;
    line-height: 4.4;
}

.profile-box span {
    margin-right: 8px;
    color: #565758;
}

.body-box {
    margin-top: 73px;
    position: relative;
    clear: both;
    min-height: calc(100vh - 70px);
}

.nav-box {
    background-color: #003ACC;
    width: 250px;
    float: left;
    top: 70px;
    position: fixed;
    height: 100%;
}

.nav-group-box {
    margin-top: 20px;
}

.nav-group-box h5 {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 8px 12px;
}

.nav-group-box .nav-item-box {
    color: #CBDAFF;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-sub-box {
    padding: 12px 24px;
    border-left: 3px solid #F9A825;
    display: flex;
    align-items: center;
}

.nav-sub-box:hover span {
    color: #F9A825
}

.nav-sub-box:hover svg {
    fill: #F9A825
}

.nav-sub-box span {
    margin-left: 12px;
    color: #CBDAFF;
    font-size: 14px;
}

.nav-group-box .active {
    background-color: #0048FF;
    border-left: 3px solid #F9A825;
}

.nav-group-box .sub-active span {
    color: #F9A825;
    font-weight: 600;
}

.sub-active svg {
    fill: #F9A825;
}

.nav-group-box .nav-item-box .nav-item-name-box {
    display: flex;
    align-items: center;
}

.nav-group-box .nav-item-box:hover .nav-item-name-box span {
    color: #FFFFFF
}

.nav-group-box .nav-item-box:hover svg {
    fill: #FFFFFF
}

.nav-group-box .nav-item-box .nav-item-name-box span {
    margin-left: 12px;
    color: #CBDAFF;
    font-size: 14px;
}

.content-box {
    margin-left: 250px;
    float: unset;
    right: 0;
    padding-top: 1px;
}

/* page style */

.content-header {
    margin: 30px 35px 15px;
    position: relative;
    background-size: cover;
}

.content-header h3 {
    font-size: 20px;
    font-weight: 600;
    color: #565758;
    margin-bottom: 8px;
}

.content-header p {
    color: #6F7070;
}

.content-body {
    margin: 30px 35px 15px;
}

/* width <= 992 */
@media screen and (max-width: 992px) {
    h3 {
        font-size: 16px !important;
        font-weight: 500 !important;
    }
    .nav-box {
        margin-left: -250px;
    }

    .header-left-box { width: 100%; justify-content: space-between }
    .header-left-box .close { display: none; }
    .header-left-box .open {display: block; }
    .header-left-box .profile-btn {display: block; }

    .profile-box {
        display: none;
    }

    .content-box {margin-left: 0;}
}

/* width >= 993 */
@media screen and (min-width: 993px) {
    .header-left-box .close { display: block; }
    .header-left-box .open {display: none; }
    .header-left-box .profile-btn {display: none; }
}